<template>
    <h1> Desks </h1>
    <form @submit.prevent="addNewDesk">
        <input type="text" v-model="name">
        <button type="submit">Add</button>
    </form>
    <div class="blog">
        <div class="desk" v-for="desk in desks">
            <router-link :to="{name: 'showDesks', params:{deskId:desk.id}}" class="nav-item">{{desk.name}}</router-link>
            <br>
            <button type="button" @click="deleteDesk(desk.id)">Delete</button>
        </div>
    </div>
    <div class="error" v-if="errored">Ошибка загрузки данных!</div>
    <div class="spinner" v-if="loading"></div>
</template>

<script>
export default {
    data(){
        return {
            desks: [],
            errored: false,
            loading: true
        }
    },
    mounted() {
        this.getAllDesks()
    },
    methods: {
        getAllDesks(){
            axios.get('/api/desks')
                .then(response => {
                    this.desks = response.data
                })
                .catch(error =>{
                    console.log(error)
                    this.errored = true
                })
                .finally(() =>{
                    this.loading = false
                })
        },
        deleteDesk(id){
            if(confirm('Вы действительно хотите удалить доску')){
                axios.post('/api/desks/'+id, {
                    _method: 'DELETE'
                })
                    .then(response => {
                        this.desks = []
                        this.getAllDesks()
                    })
                    .catch(error =>{
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() =>{
                        this.loading = false
                    })
            }
        },
        addNewDesk(){
            axios.post('/api/desks', {
                name: this.name,
            })
                .then(response => {
                    this.desks = []
                    this.getAllDesks()
                })
                .catch(error =>{
                    console.log(error)
                    this.errored = true
                })
                .finally(() =>{
                    this.loading = false
                })
        }
    }
}
</script>

<style>
.blog{
    display: flex;
    padding: 20px;
}
.blog .desk{
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    background: #afe845;
    padding: 10px;
}

</style>
