<template>
    <div class="bl_fon">
        <input type="text"  @blur="saveName" v-model="name">
<!--        <div class="validate" v-if="!$v.name.required">Обязательное поле</div>-->
        <div class="validate">Не более 255 символов</div>

    </div>
    <div class="error" v-if="errored">Ошибка загрузки данных!</div>
    <div class="spinner" v-if="loading"></div>
</template>

<script>
// import  { required, maxLength } from 'vuelidate/lib/validators'
// import useVuelidate from '@vuelidate/core'
// import { required } from '@vuelidate/validators'
export default {
    props: [
        'deskId'
    ],
    data(){
        return {
            name: null,
            errored: false,
            loading: true
        }
    },
    methods: {
        saveName(){
            axios.post('/api/desks/'+this.deskId, {
                _method: 'PUT',
                name: this.name,
            })
                .then(response => {
                })
                .catch(error =>{
                    console.log(error)
                    this.errored = true
                })
                .finally(() =>{
                    this.loading = false
                })
        }
    },
    mounted() {
        axios.get('/api/desks/'+this.deskId)
            .then(response => {
                this.name = response.data.name
            })
            .catch(error =>{
                console.log(error)
                this.errored = true
            })
            .finally(() =>{
                this.loading = false
            })
    },
}
</script>

<style scoped>
.bl_fon{
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #4a5568;
    padding: 5px;
}
</style>
