body{
    background: #EEEEEE;
    color: #0b2e13;
    padding: 0;
    margin: 0;
}
.error{
    background: rgb(249 123 123 / 52%);
    padding: 10px;
    border-radius: 10px;
}
.spinner{
    background:url("https://skyvp.hu/images/loader.gif") ;
    width: 120px;
    height: 90px;
    background-size: 100% 100%;
    margin: 10% auto;
}

