<template>
<div class="navbar-nav" >
    <router-link :to="{name: 'home'}" class="nav-item">Home</router-link>
    <router-link :to="{name: 'about'}" class="nav-item">About</router-link>
    <router-link :to="{name: 'desks'}" class="nav-item">Desk</router-link>
</div>
<br/>
    <div class="center">
        <router-view/>
    </div>

</template>

<script>

export default {
}
</script>

<style>
.center{
    margin: auto;
    width: 100%;
    max-width: 1370px;
    padding: 0 20px;
}
.navbar-nav{
    background: #1b1e21;
    padding: 5px;
}
.navbar-nav .nav-item{
    color: #f2f2f2;
    padding: 10px;
}
.navbar-nav .nav-item:hover{
    color: #7abaff;

}
</style>
